@font-face {
    font-family: 'Chela One';
    src: url('/assets/fonts/ChelaOne-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Cabin";
    src: url('/assets/fonts/Cabin-VariableFont_wdth,wght.woff2') format('woff2');
}
@font-face {
    font-family: "IBM Plex Serif";
    src: url('/assets/fonts/IBMPlexSerif-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Maple Mono";
    src: url('/assets/fonts/MapleMono-Regular.ttf.woff2') format('woff2');
}
